html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: normal;
  font-size: $font-size;
}


.ref-info {
  background: $bg-color;
  color: $text-color;
  margin: 1rem auto;
  height: 100px;
  width: 60%;
}


.input-wrapper {
  background: $bg-color;
  color: $text-color;
  margin: 1rem auto;
  padding: 2rem;
  width: 60%;

  .input-field {
    padding: 1rem;
    font-size: 2.0rem;
    border-radius: 0.3rem;
    width: 100%;
  }

}




.keyboard__wrapper {
  background: $bg-color;
  color: $text-color;
  margin: 5rem auto;
  padding: 1rem;
  width: 900px;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  border-radius: 2rem;
  background-color: $bg-board;
  @include shadow($color: $sh-board, $size-x: 0.4rem);
}


.keyboard__line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.3rem;
}

// .keyboard__line:first-child{
//   padding: 0 20px;
// }
.keyboard__line:last-child {
  padding: 0 42px 0 0;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 500;
  border-radius: 1.5rem;
  color: $key-color;
  transition: all .1s;
}

.key1 {
  background-color: $bg-key1;
  @include shadow($sh-key1);
}

.key2 {
  // border: 1px solid $sh-key2;
  background-color: $bg-key2;
  @include shadow($sh-key2);
  font-size: 1rem;
}

.key3 {
  // border: 1px solid $sh-key3;
  background-color: $bg-key3;
  @include shadow($sh-key3);
}


.key--long {
  flex-grow: 1;
}

.key--space {
  width: 300px;
}

.key--lang {
  // width: 63px;
  // width: 2rem;
  // height: 2rem;
}

.press,
.key:hover {
  // background-color:  mix($bg-key3,#797979,50%);
  // border: 1px solid #ccc;
  background-color: rgb(221 221 221);
  box-shadow:
    inset 0.1rem -0.1rem 0.9rem rgba(247, 247, 247, 0.863),
    0 0 0.1rem 1px rgba(255, 255, 255, 0.5),
    0.2rem 0.2rem 0.2rem $sh-key3;
  //  1rem 1rem 1rem #797979;
}


.caps::after {
  content: '';
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 99px;
  background-color: rgb(126, 126, 126);
}

.press.caps::after {
  content: '';
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 99px;
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 0.2rem rgb(0, 255, 0);
}