html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: normal;
  font-size: $font-size;
}

.input-wrapper {
  background: $bg-color;
  color: $text-color;
  margin: 1rem auto 0;
  padding: 1rem 1rem 0 1rem;
  width: 900px;
  border-radius: 2rem;
  background-color: $bg-board;
  @include shadow($color: $sh-board, $size-x: 0.4rem);

  .input-field {
    padding: 1rem;
    font-size: 2.0rem;
    border-radius: 1rem;
    width: 100%;
    height: 30vh;
    resize: vertical;
    border: 1px solid #ffffff;
    background-color: #f3f3f3;
    box-shadow:
      inset -0.1rem 0.1rem 0.9rem $sh-board;

    &:focus-visible {
      outline: none;
    }
  }

}


.info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: $sh-board;
}

.title {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  flex-grow: 1;
}

.info-name {
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: right;
  color: $sh-board;

  a {
    color: $sh-board;
  }
}



.keyboard__wrapper {
  background: $bg-color;
  color: $text-color;
  margin: 1rem auto;
  padding: 1rem;
  width: 900px;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  border-radius: 2rem;
  background-color: $bg-board;
  @include shadow($color: $sh-board, $size-x: 0.4rem);
}


.keyboard__line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.3rem;
}

.keyboard__line:last-child {
  padding: 0 42px 0 0;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 500;
  border-radius: 1.5rem;
  color: $key-color;
  transition: all .1s;
  cursor: pointer;
  user-select:none;
}

.key1 {
  background-color: $bg-key1;
  @include shadow($sh-key1);
}

.key2 {
  background-color: $bg-key2;
  @include shadow($sh-key2);
  font-size: 1rem;
}

.key3 {
  background-color: $bg-key3;
  @include shadow($sh-key3);
}


.key--long {
  flex-grow: 1;
}

.key--space {
  width: 300px;
}

.lang {
  width: 2rem;
  height: 2rem;
}


.key1.press,
.key1:hover {
  @include shadow-hover($sh-key1, 0.1rem, 0.1rem);
}

.key2.press,
.key2:hover {
  @include shadow-hover($sh-key2, 0.1rem, 0.1rem);
}

.key3.press,
.key3:hover {
  @include shadow-hover($sh-key3, 0.1rem, 0.1rem);
}


.caps::after {
  content: '';
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 99px;
  background-color: rgb(126, 126, 126);
}

.press.caps::after {
  content: '';
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 99px;
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 0.2rem rgb(0, 255, 0);
}