$bg-color: rgb(233, 233, 233);
$text-color: rgb(37, 37, 37);

$font-size: 10px;

$key-color: rgb(126, 126, 126);

$bg-key1: rgb(247, 252, 251);
$sh-key1: rgba(160, 175, 162, 0.7);

$bg-key2: rgb(233, 255, 204);
$sh-key2: rgba(141, 174, 96, 0.7);

$bg-key3: rgb(201, 255, 255);
$sh-key3: mix($bg-key3, #797979, 50%);

$bg-board: #c7f9b4b3;
$sh-board: rgb(143, 173, 132, 0.7);


@mixin shadow ($color, $size-x: 0.3rem, $size-y: $size-x) {
  box-shadow:
    inset -0.1rem 0.1rem 0.9rem $color,
    0 0 0.1rem 1px rgba(255, 255, 255, 0.5),
    $size-x $size-y 0.1rem 1px $color;
}
@mixin shadow-hover ($color, $size-x: 0.3rem, $size-y: $size-x) {
  box-shadow:
    inset -0.1rem 0.1rem 1.3rem $color,
    0 0 0.1rem 1px rgba(255, 255, 255, 0.5),
    $size-x $size-y 0.1rem $color;
}